<h4 *ngIf="!sail === null">Looks like this sail is missing.</h4>
<mat-card *ngIf="sail">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>emoji_people</mat-icon>
    </div>
    <mat-card-title
      id="pageTitle"
      role="heading"
      aria-level="1"
      tabindex="0"
    >{{title}}</mat-card-title>
    <mat-card-subtitle
      role="heading"
      aria-level="1"
      tabindex="0"
    >{{subtitle}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngTemplateOutlet="CARD_CONTENT"></ng-container>
  </mat-card-content>
  <mat-card-footer>
    <ng-template *ngTemplateOutlet="CARD_FOOTER"></ng-template>
  </mat-card-footer>
</mat-card>

<ng-template #CARD_CONTENT>
  <p aria-live="polite">Current crew: {{crewName || 'not assigned'}}</p>
  <button
    (click)="setSailCrew()"
    *ngIf="sailForm.controls['crew']?.value"
    mat-raised-button
    matTooltip="Unset sail's crew"
  >
    <app-icon-text
      icon="remove_circle"
      text="Unset"
    ></app-icon-text>
  </button>

  <mat-action-list
    role='list'
    id="available_crew_list"
  >
    <h3 tabindex="0">Available Crew During This Time</h3>
    <div class="form">
      <app-list-filter
        label="Search crew by name or email"
        ariaLabel="Search crew by name email"
        tooltip="Search crew by name or email"
        (filter)="filterListener($event)"
      ></app-list-filter>
    </div>
    <mat-list-item
      (click)="setSailCrew(crew.id)"
      *ngFor="let crew of filteredAvailableCrew; let i = index"
      attr.aria-label="Crew {{i + 1}} of {{filteredAvailableCrew.length}} {{crew.name}}"
      matTooltip="Click to assign as sail's crew"
      role="option"
    >
      <mat-icon matListIcon>add</mat-icon>{{i + 1 }}. {{crew.name}}
    </mat-list-item>
    <mat-list-item *ngIf="!filteredAvailableCrew || filteredAvailableCrew.length === 0">No crew are
      available during this
      time.</mat-list-item>
  </mat-action-list>

</ng-template>

<ng-template #CARD_FOOTER>
  <mat-card-actions>
    <button
      *ngIf="shoulEnableSubmitButton"
      mat-raised-button
      (click)="submitForm()"
    >Submit</button>
  </mat-card-actions>
</ng-template>
